<div ng-controller="Shell as vm" layout="column" layout-fill ng-cloak>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-2dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Navigate to</h1>
            </md-toolbar>
            <md-content layout-padding>
                <p hide-md show-gt-md>
                    <md-list>
                        <md-list-item>
                            <a class="md-button md-ink-ripple" href="" ng-click="signOut()">Sign Out</a>
                        </md-list-item>
                        <md-list-item>
                            <a class="md-button md-ink-ripple" href="/orderform">Order Form</a>
                        </md-list-item>
                        <md-list-item>
                            <a class="md-button md-ink-ripple" href="/orders">Orders</a>
                        </md-list-item>
                        <md-list-item>
                            <a class="md-button md-ink-ripple" href="/clients">Clients</a>
                        </md-list-item>
                        <md-list-item>
                            <a class="md-button md-ink-ripple" href="/staff">Staff</a>
                        </md-list-item>
                        <md-list-item>
                            <a class="md-button md-ink-ripple" href="/prices">Prices</a>
                        </md-list-item>
                        <md-list-item>
                            <a class="md-button md-ink-ripple" href="/profile">Profile</a>
                        </md-list-item>
                    </md-list>
                </p>
            </md-content>
        </md-sidenav>
        <md-content flex layout-padding>
            <md-toolbar class="md-theme-indigo">
                <div class="md-toolbar-tools">
                    <md-button ng-click="vm.toggleLeft()" class="md-icon-button md-primary" hide-gt-md aria-label="Menu">
                        <i class="material-icons">menu</i>
                    </md-button>
                    <h1 class="md-flex">{{vm.title}}</h1>
                </div>
            </md-toolbar>

            <div layout="column" layout-fill layout-align="top center">

                <div ng-view></div>
                
            </div>
            <div flex></div>
        </md-content>
    </section>
</div>